<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div>
        <table>
            <tr>
                <td>Level</td>
                <td><input name="data.level" type="text" value="{{data.data.level}}" data-dtype="Number" /></td>
            </tr>
            <tr>
                <td>Depletion</td>
                <td><input name="data.depletion" type="text" value="{{data.data.depletion}}" /></td>
            </tr>
            <tr>
                <td>Color</td>
                <td>
                    <select name="data.color">
                        {{#select data.data.color}}
                        {{#each config.colors as |name value|}}
                        <option value="{{value}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Enhancement</td>
                <td><input name="data.enhancement" type="text" value="{{data.data.enhancement}}" data-dtype="Number" /></td>
            </tr>
            <tr>
                <td>Facet</td>
                <td>
                    <select name="data.facet">
                        {{#select data.data.facet}}
                        {{#each config.facets as |name value|}}
                        <option value="{{value}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
        <textarea name="data.description">{{data.data.description}}</textarea>
        <textarea name="data.footnote">{{data.data.footnote}}</textarea>
    </div>
</form>